
.title {
    background-color: tomato;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .list-group-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  .list-group-item:hover {
    background-color: tomato;
    color: #fff !important;
  }
  .list-group-item:hover a {
    color: #fff;
  }
  .list-group-item {
    transition: .3s;
  }
  
.details h4 {
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .single-info {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
  }
  .single-info h5 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 21px;
  }
  .single-info h5 span {
    display: block;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
  }
  .footer {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 40px;
    font-weight: 600;
  }

  
.cards {
  padding: 80px 0;
  border-bottom: 1px solid #ddd;
}
.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.card-body h5 {
  font-size: 24px;
  font-weight: bold;
}

.bannar {
  position: relative;
  z-index: -1;
  padding: 220px 0;
  background-size: cover;
  text-align: center;
  background-position: center;
}
.bannar:before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  content: "";
  opacity: .7;
}
.bannar h1 {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}
.logo a {
  text-transform: uppercase;
  color: #333;
  text-decoration: navajowhite;
  font-size: 22px;
  font-weight: bold;
}
header {
  padding: 20px 0;
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.right a {
  margin-left: 18px;
  color: #333;
  display: inline-block;
  text-decoration: none;
}
.right .btn.btn-primary {
  color: #fff;
  padding-top: 2px;
}